{% extends "::base.html.twig" %}

{% block body %}
  <form class="" action="/tps/new" method="post">
    <input type="number" min='0' step='1' name="departement" value="departement" placeholder="numéro de votre département">
    <input type="submit" name="" value="submit">
  </form>
{% endblock %}
