{% extends "::base.html.twig" %}

{% block body %}
	<div>
		<h3>Mettez à jour la base de données en renseignant votre département</h3>
		<form class="" action="/tps/new" method="post">
			<select name="departement">
				{% for dpt in dpts %}
					<option value="{{dpt.departementCode}}">{{dpt.departementNom}}</option>
				{% endfor %}
			</select>
			<input type="submit" class="btn btn-success" name="" value="Mise à jour">
		</form>
	</div>
	<div>
		<h3><a href="/normalize">Vérifier</a> la normalisation d'adresses de votre base de donnée</h3>
	</div>
{% endblock %}
