{% extends "::base.html.twig" %}

{% block body %}
	<h3>Mettez à jour la base de données en renseignant votre département</h3>
	<form class="" action="/tps/new" method="post">
		<select name="departement">
			{% for dpt in dpts %}
				<option value="{{dpt.departementCode}}">{{dpt.departementNom}}</option>
			{% endfor %}
		</select>
		<input type="submit" class="btn btn-success" name="" value="Mise à jour">
	</form>
{% endblock %}
