{% extends "::base.html.twig" %}

{% block body %}
  {% if error %}
	{{ error }}
  {% else %}
    <p>{{ count }} erp(s) ajouté(s) à la base de donées.</p>
  {% endif %}
  <br>
  <a href="/tps/form">Retour</a>

{% endblock %}
