{% extends 'base.html.twig' %}

{% block body %}

<div class="pannel">
    <ul>
        <li><a  href="/liste"><h1>Liste complète des ERP</h1></a></li>
        <li><a  href="/"><h1>Liste complète des ERP</h1></a></li>
        <li><a  href="/liste"><h1>Liste complète des ERP</h1></a></li>
    </ul>
</div>

{% endblock %}