{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid" id="formulaire1">

        <div class="col-lg-4 col-sm-8 col-md-8 mx-auto col-12" id="search-address-wrap">
            <form action="" method="POST" id="form">

                <div class="col-lg-12 col-sm-12 col-md-12 mx-auto col-12">
                    <label for="name"><h2>Recherchez un Nom</h2></label><br>
                    <input style="text-align: center" class="form-control" type="text" id="name" name="name" placeholder="Entrez un nom..." autofocus><br><br>
                </div>

                <div class="col-lg-12 col-sm-12 col-md-12 mx-auto col-12">
                    <label for="adress"><h2>Rechercher une adresse</h2></label><br>
                    <input style="text-align: center" class="form-control" type="text" id="adress" name="adress" placeholder="Entrez une adresse..." autofocus><br><br>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 mx-auto col-12">
                    <select name="activite" id="activite" class="form-control">
                        <option value="Choisissez une activité">Choisissez une activité</option>
                        <option value="Structures d’accueils personnes agées ou handicapés">Structures d’accueils personnes agées ou handicapés</option>
                        <option value="Salles de réunions, spectacle, concert, confédérations">Salles de réunions, spectacle, concert, confédérations</option>
                        <option value="Magasins de vente, centres commerciaux">Magasins de vente, centres commerciaux</option>
                        <option value="Restaurants débits de boisson">Restaurants débits de boisson</option>
                        <option value="Hotels et pensions de famille">Hotels et pensions de famille</option>
                        <option value="Salles de danse et salles de jeux">Salles de danse et salles de jeux</option>
                        <option value="Etablissements d’enseignement, colonies de vacances">Etablissements d’enseignement, colonies de vacances</option>
                        <option value="Bibliothèques, centres de documentation">Bibliothèques, centres de documentation</option>
                        <option value="Salles d’exposition">Salles d’exposition</option>
                        <option value="Etablissements sanitaires">Etablissements sanitaires</option>
                        <option value="Etablissements de culte">Etablissements de culte</option>
                        <option value="Administrations, banques, bureaux">Administrations, banques, bureaux</option>
                        <option value="Etablissements sportifs couverts">Etablissements sportifs couverts</option>
                        <option value="Musées">Musées</option>
                        <option value="Etablissements de plein air">Etablissements de plein air</option>
                        <option value="Chapiteaux, tentes et structures itinérantes">Chapiteaux, tentes et structures itinérantes</option>
                        <option value="Structures gonflables">Structures gonflables</option>
                        <option value="Parcs de stationnement couverts">Parcs de stationnement couverts</option>
                        <option value="Hotels-restaurants d’altitude">Hotels-restaurants d’altitude</option>
                        <option value="Gares accessiblesau public">Gares accessiblesau public</option>
                        <option value="Etablissements flottants, bateaux stationnaires">Etablissements flottants, bateaux stationnaires</option>
                        <option value="Refuges de montagne">Refuges de montagne</option>
                    </select>
                </div>

                <br>

                <button id="search-btn" type="submit" class="animated bounceInLeft btn btn-success btn-lg" name="button"><i class="fa fa-search" aria-hidden="true"></i>
                     Rechercher</button>
                <br><br>
                <button class="animated bounceInRight btn btn-danger btn-lg"><a style="color: #FFFFFF; padding: 0.5em" href="/report/new"><i class="fa fa-flag" aria-hidden="true"></i>
                        Signaler une adresse</a>
                </button>
            </form>
        </div>
        <br>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
                <div id="message" class="alert"></div>
            </div>
            <div class="col-10 mx-auto" id="map"></div>
            <br><br>
            <div class="col-11 col-lg-10 mx-auto">
            <table style="margin-top: 20px" class="col-lg-12 table-bordered table-striped" id="result" border='1'>
                <tr>
                </tr>
            </table>
            </div>
        </div>

        <br>

        <p class="alert alert-info col-4 mx-auto">Pour consulter les Précautions d'usage, cliquez <a href=".model-id2" data-toggle="modal">içi</a></p>
        <div tabindex="-1" class="modal fade model-id2" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 style="text-decoration: underline">Ce site est un site officiel, développé par les services de l’État dans le Rhône.</h2>
                    </div>
                    <div style="text-align: left" class="modal-body">
                        <p><span style="color: green">Il permet </span>de vérifier, pour un établissement recevant du public donné, s’il satisfait à ses obligations réglementaires en termes d’accessibilité aux personnes en situation de handicap par une démarche menée dans le Rhône : <ul><li>soit par une attestation de conformité.</li><li>soit par un agenda d’accessibilité programmée (Ad’AP) validé par le préfet à travers lequel le propriétaire ou l’exploitant s’est engagé à rendre conforme l’établissement dans un délai donné.</li></ul>
                            <span style="font-weight: bold">AUCUN CONTRÔLE SUR PLACE DES ELEMENTS DECLARATIFS CONTENUS DANS CES DOCUMENTS N’EST EXERCE PAR L’ADMINISTRATION.</span>
                        </p>
                        <p><span style="color: red">Il ne permet pas :</span><ul><li>de connaître les établissements entièrement accessibles : un établissement bénéficiant de dérogations pour les aspects ne respectant pas la réglementation est considéré comme conforme ;</li><li>de connaître l’intégralité des établissements du département du Rhône ayant satisfait à leurs obligations : certains ont pu faire l’objet d’un dépôt de documents en préfecture du siège régional ou du siège social.</li></ul></p>
                        <hr style="height: 1px">
                        <p><span style="font-weight: bold">ATTENTION</span> : ce site est en construction. Malgré tous nos efforts, il est possible que certaines fonctionnalités fonctionnent mal et que certaines données soient incomplètes ou aient fait l’objet d’une erreur de saisie. Merci de nous aider à l’améliorer en signalant tout bug ou erreur sur le nom ou l’adresse de l’ERP.</p>

                        <p>Vous êtes gestionnaire ou propriétaire d’un établissement et vous n’avez déposé ni attestation ni  Ad’AP ? Tout savoir pour régulariser votre situation <a href="http://www.rhone.gouv.fr/Politiques-publiques/Amenagement-du-territoire-urbanisme-construction-logement/Accessibilite/Accessibilite-des-Etablissements-Recevant-du-Public-ERP">ici</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script>


        $(function() {

            $('#form').change(function() {
                var result = $('#result')
                var message = $('#message')
                var address = document.getElementById('adress').value
                var name = document.getElementById('name').value
                data = address ? address : null
                if(!data) data = name ? name : null
                data = data.split("|")[1]
                $.ajax({
                    method: 'post',
                    url: '',
                    data: {data : data},
                    dataType: 'json',
                    success: function(data) {
                        document.getElementById('result').innerHTML = ""
                        message.html(data.message)
                        switch (data.status) {
                            case 'ok':
                                message.removeClass('alert-danger')
                                message.addClass('alert-success')
                                console.log(result)
                                break
                            case 'ko':
                                message.removeClass('alert-success')
                                message.addClass('alert-danger')
                                console.log(result)
                                break
                        }
                    },
                    error: function(data) {
                        console.log(data)
                    }
                })
                return false;
            })
        })

        $(function() {

            $('#form').on('submit', function() {
                var form = $('#form')
                var message = $('#message')
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 45.750000, lng: 4.850000},
                    zoom: 13
                });
                var infowindow = new google.maps.InfoWindow();
                $.ajax({
                    type: 'POST',
                    url: "{{ path('dbalisteerp_testActivite') }}",
                    data: form.serialize(),
                    dataType: 'json',
                    success: function(response) {

                        document.getElementById('result').innerHTML = "";

                        var trHTML = '';

                        $.each(response, function (i, item) {

                            trHTML += '<tr><td>' + response[i].name + ' ' + '|' + ' ' + response[i].adress + '</td></tr>';

                            if (typeof response[i].latitude !== 'undefined') {

                                var locations = [
                                    [response[i].latitude, response[i].longitude],
                                ]

                            }

                            var marker, o;

                            for (o = 0; o <= locations.length - 1; o++) {

                                console.log(locations[o])

                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(locations[o][0], locations[o][1]),
                                    map: map
                                })

                                google.maps.event.addListener(marker, 'click', (function(marker, o) {
                                    return function() {
                                        infowindow.setContent(response[i].adress + ' ');
                                        infowindow.open(map, marker);
                                    }
                                })(marker, o));

                            }

                        })

                        message.removeClass('alert alert-danger')
                        message.addClass('alert alert-success col-lg-10 mx-auto')
                        document.getElementById('message').innerHTML = response.length + " établissements."

                        $('#result').append(trHTML);

                        console.log(response);
                        return false

                    },
                    error: function(response) {

                        console.log(response);
                        return false

                    }
                })
                return false
            })
            return false
        })

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 45.750000, lng: 4.850000},
                zoom: 13
            });
            var input = /** @type {!HTMLInputElement} */(
                document.getElementById('adress'));

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            document.getElementById('search-btn').addEventListener('click', function() {
                var geocoder = new google.maps.Geocoder();
                geocodeAddress(geocoder, map);
            });

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocomplete.addListener('place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                var form = $('#form')
                var result = $('#result')
                var message = $('#message')
                $.ajax( {
                    type: 'POST',
                    url: "{{ path('dbalisteerp_test') }}",
                    data: form.serialize(),
                    dataType: "json",
                    success: function(response) {

                        document.getElementById('result').innerHTML = "";

                        var trHTML = '';

                        $.each(response, function (i, item) {

                            trHTML += '<tr><td>' + response[i].name + '</td></tr>';

                            if (response.length > 1) {

                                message.removeClass(' alert-danger')
                                message.addClass('alert-success')
                                document.getElementById('message').innerHTML = response.length + " établissement à cette adresse"

                            } else {

                                trHTML = "";

                                message.removeClass('alert-danger')
                                message.addClass('alert-success')

                                if (response[i].type === 'attestation') {

                                    document.getElementById('message').innerHTML = " Le demandeur " + response[i].demandeur +
                                        " a déclaré l’établissement " + response[i].name + ", situé au " + response[i].adress +
                                        " conforme à la réglementation en matière d’accessibilité des personnes en situation de handicap."

                                } else {

                                    console.log('test');

                                    document.getElementById('message').innerHTML = " Le demandeur " + response[i].demandeur +
                                        " s’est engagé à rendre l’établissement " + response[i].name + ", situé au " + response[i].adress +
                                        " conforme à la réglementation en matière d’accessibilité des personnes en situation de handicap avant " +
                                        response[i].date + "."

                                }

                            }

                        })

                        result.append(trHTML);

                    },
                    error: function(response) {

                        var message = $('#message')

                        document.getElementById('result').innerHTML = "";
                        console.log(response)
                        console.log('test')

                        message.removeClass('alert alert-success')
                        message.addClass('alert alert-danger col-lg-10 mx-auto')
                        document.getElementById('message').innerHTML = "Aucun établissement situé à cette adresse n’a déclaré être rentré dans la démarche " +
                            "de mise en accessibilité."

                    }
                })
                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                }
                marker.setIcon(/** @type {google.maps.Icon} */({
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('adress').value
            var name = document.getElementById('name').value
            data = address ? address : null
            if(!data) data = name ? name : null
            data = data.split("|")[1]
            geocoder.geocode({'address': data}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                }
            });
        }
    </script>

{% endblock  %}

