{% extends 'base.html.twig' %}

{% block body %}


    <!--
<div id="map-container" class="container-fluid">
    <div id="google-map" class="col-md-12 col-lg-12"></div>

    <button id="signaler-btn" type="submit" class="btn btn-warning" name="button">Signaler</button>
</div> --!>

{% endblock  %}

