{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid" id="formulaire1">

        <div class="col-lg-4 col-sm-8 col-md-8 mx-auto col-12" id="search-address-wrap">
            <form action="" method="POST" id="form">

                <div class="col-lg-12 col-sm-12 col-md-12 mx-auto col-12">
                    <label for="name"><h2>Recherchez un Nom</h2></label><br>
                    <input style="text-align: center" class="form-control" type="text" id="name" name="name" placeholder="Entrez un nom..." autofocus><br><br>
                </div>

                <div class="col-lg-12 col-sm-12 col-md-12 mx-auto col-12">
                    <label for="adress"><h2>Rechercher une adresse</h2></label><br>
                    <input style="text-align: center" class="form-control" type="text" id="adress" name="adress" placeholder="Entrez une adresse..." autofocus><br><br>
                </div>
                <div class="col-12">
                  <a href="/report/new">Signaler une adresse</a>
                </div>

                <button id="search-btn" type="submit" class="animated bounceInDown btn btn-success" name="button">Rechercher</button>
            </form>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 mx-auto">
                <div id="result" class="alert"></div>
            </div>
            <div class="col-lg-6 mx-auto" id="map"></div>
        </div>
          <button type="btn btn-secondary" type="submit" class="directions-btn" name="button">Directions</button>
    </div>


    <script>


        $(function() {
            $('#form').on('submit', function() {
                var result = $('#result')
                var datas = $(this).serialize()
                $.ajax({
                    method: 'post',
                    url: '',
                    data: datas,
                    dataType: 'json',
                    success: function(data) {
                        result.html(data.message)
                        switch (data.status) {
                            case 'ok':
                                    result.removeClass('alert-danger')
                                    result.addClass('alert-success')
                                break
                            case 'ko':
                                    result.removeClass('alert-success')
                                    result.addClass('alert-danger')
                                break
                        }
                    },
                    error: function(data) {
                        console.log(data)
                    }
                })
                return false;
            })

            $('.directions-btn').on('click', function() {
              // $.ajax({
              //   url: 'https://maps.googleapis.com/maps/api/directions/json?origin=Toronto&destination=Montreal&key=AIzaSyAVK6KttAlmqs-6rC-thezTYr8cPvxWKdQ',
              //   type: "GET",
              //   dataType: 'json',
              //   cache: false,
              //   success: function(response){
              //       alert(response);
              //   }
              // });
              // console.log('ntm');

          })

        })

        function initMap() {
          // var geocoder = new google.maps.Geocoder();
          //
          // document.getElementById('search-btn').addEventListener('click', function() {
          //     geocodeAddress(geocoder, map);
          // });
          //******************************

          // *** INITIALISAITON ***
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: {lat: 45.750000, lng: 4.850000}
          });
          var bounds = new google.maps.LatLngBounds();
          // *** END INITIALISATION ***
            document.getElementById('search-btn').addEventListener('click', function() {
               geocodeAddress(infoWindow, map);
           });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('adress').value;
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function getAndDisplayDirection() {
          var bounds = new google.maps.LatLngBounds();
          var markers = [];
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              // array instead of object {}
              var pos = [position.coords.latitude,position.coords.longitude];
              var center = [45.750000,4.850000];
              var test = [45.760492,4.842762];
              markers.push(pos);
              markers.push(center);
              for( i = 0; i < markers.length; i++ ) {
                var position = new google.maps.LatLng(markers[i][0], markers[i][1]);
                bounds.extend(position);
                marker = new google.maps.Marker({
                  map: map,
                  position: position,
                });
                map.fitBounds(bounds);
              }

              // *********** DIRECTIONS **************

              // var directionsService = new google.maps.DirectionsService();
              // var directionsRequest = {
              //   origin: center[0],center[1],
              //   destination: pos[0],pos[1],
              //   travelMode: google.maps.DirectionsTravelMode.WALKING,
              //   unitSystem: google.maps.UnitSystem.METRIC
              // };
              // directionsService.route( directionsRequest, function(response, status) {
              //   if (status == google.maps.DirectionsStatus.OK) {
              //     new google.maps.DirectionsRenderer({
              //       map: map,
              //       directions: response
              //     });
              //   }
              //   else {
              //     console.log("doesn't work");
              //   }
              // });
              // ************* ENDDIRECTIONS **********
              //https://maps.googleapis.com/maps/api/directions/json?origin=Toronto&destination=Montreal&key=YOUR_API_KEY
              //debugger;
              //markers.push(test);
            }, function() {
              handleLocationError(true, map, map.getCenter());
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, map, map.getCenter());
          }
          //********************************
        }
    </script>

{% endblock  %}
