{% extends 'base.html.twig' %}

{% block body %}

<div style="height: 50vh">

    <div class="col-lg-4 col-sm-8 col-md-8 mx-auto col-12" id="search-address-wrap">
        <form action="" method="POST">

            <label for="name" id="name" ><h2>Recherchez un Nom</h2></label><br>
            <input type="text" id="name" name="name" placeholder="Entrez un nom..." autofocus><br><br>

            <label for="adress" id="adress"><h2>Rechercher une adresse</h2></label><br>
            <input type="text" id="adress" name="adress" placeholder="Entrez une adresse..." autofocus>

            <button type="submit" >Submit</button>
        </form>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 id="nom_erp_title"></h2>
            <div id="nom_erp"></div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div id="access_text"></div>
        </div>
    </div>

    <button id="search-btn" type="submit" class="animated bounceInDown btn btn-success" name="button">Rechercher</button>

</div>

    <!--
<div id="map-container" class="container-fluid">
    <div id="google-map" class="col-md-12 col-lg-12"></div>

    <button id="signaler-btn" type="submit" class="btn btn-warning" name="button">Signaler</button>
</div> --!>

{% endblock  %}

