{% extends 'base.html.twig' %}
{% block body %}
	<div style="text-align:left;margin-left:10px;">
<h1>Mentions légales</h1>
<br>

<h3><strong>A Conditions générales d'utilisation</strong></h3>
<h3><strong>B Crédits développement et graphisme</strong></h3>
<br>
 
<h3><strong>A) CONDITIONS GÉNÉRALES D'UTILISATION DE L'APPLICATION C’Conforme</strong></h3>
<br>
<p><strong>version du 23/01/2018</strong></p>
<h4><strong>1- DESCRIPTION DE L'APPLICATION</strong></h4>
<p>C'Conforme est l'application de la Direction Départementale des Territoires du Rhône pour l'internet.</p>
<p>C'Conforme est une application gratuite qui regroupe les informations et principaux services suivants:</p>
<ul>
	<li><strong>Vérification de la conformité d'un établissement recevant du public à l'accessibilité</strong> : permet de rechercher par son nom, son adresse ou son activité un ou plusieurs établissements recevant du public afin de vérifier s'il s'est ou s'ils se sont déclarés conformes   sur l'accessibilité des bâtiments.</li>
	<li><strong>Signalement </strong>: permet d'indiquer si l’adresse ou le nom d’ un établissement recevant du public sont erronés. </li>
</ul>
<p>Choix de la langue : français uniquement</p>
<p>La liste des fonctionnalités de l'Application est susceptible d'évoluer, le Direction des territoires du Rhône  ou la préfecture de département se réservant la possibilité d'ajouter ou supprimer des services sans préavis.</p>
<br>
<h3><strong>2- MENTIONS LEGALES :</strong></h3>
<br>
<p>En installant et/ou en utilisant l'application C'Conforme(ci-après “l'Application”), l'Utilisateur est réputé avoir pris connaissance et accepter sans réserve les présentes conditions générales d'utilisation. Celles-ci étant susceptible d'évoluer, l'Utilisateur est invité à les consulter régulièrement, toute nouvelle version lui étant immédiatement opposable.</p>
<p>L'application mobile C'Conforme est éditée par la Préfecture du Rhône sise 18 rue Bonnel à LYON (69003).</p>
<p>Directeur de la publication : Monsieur le préfet de la région Auvergne Rhône-Alpes</p>



<h3><strong>3- DEFINITIONS ET OBJET :</strong></h3>
<br>
<p>Les présentes Conditions Générales ont pour objet de définir, d'une part, les modalités d'utilisation de l'application C'Conforme et, d'autre part, les conditions d'accès aux Services proposés par l’Administration à l'Utilisateur.</p>
<p>Les termes suivants, utilisés dans les présentes Conditions Générales ont la signification suivante :</p>
<p>« C’Conforme» désigne la présente Application accessible via l'internet qui regroupe les Services proposés par la Direction Départementale des Territoires du Rhône et ses Partenaires ;</p>
<p> « Conditions Générales » désigne les présentes Conditions Générales d'Utilisation de l'application via l'internet </p>
<p> « Partenaire » désigne tout prestataire de services ayant conclu un accord avec la Direction Départementale des territoires du Rhône ou la  préfecture afin de proposer des Services sur l'application  C’Conforme.</p>
<p> « Partie » désigne individuellement l'Utilisateur ou la Direction Départementale des territoires du Rhône ou la préfecture et “les Parties” collectivement l'Utilisateur et la Direction Départementale des territoires du Rhône et la préfecture</p>
<p> « Service » désigne toute prestation de service proposée par la Direction Départementale des territoires du Rhône ou la préfecture ou l’un de ses Partenaires sur l'application C'Conforme;  </p>
<p>« Utilisateur » désigne toute personne physique majeure ayant la capacité juridique de contracter ou toute personne morale qui installe, consulte l'application, utilise les services proposés par l’application C’Conforme.</p>


   
<h3><strong>4- RESPONSABILITE</strong></h3>
<br>
<h4><strong>4.1 UTILISATION DE L'APPLICATION C’Conforme</strong></h4>
<br>
<p>La Direction Départementale des territoires du Rhône et la préfecture n'émettent aucune garantie de performance de l'application internet C'Conformeet de disponibilité des Services.</p>
<p>La responsabilité de la Direction Départementale des Territoires du Rhône et de la préfecture ne saurait être engagée pour tout dommage ou préjudice direct ou indirect de quelque nature que ce soit subi par l'utilisateur du fait : </p>
<p>- de l'utilisation de l'application internet C’Conforme; </p>
<p> - du contenu et/ou de l'utilisation de sites liés à l'application internet C'Conforme auxquels les utilisateurs pourraient avoir accès via ladite application;</p>
<p>- de l'impossibilité d'accéder à l'application C'Conforme; </p>
<p> - des erreurs, omissions, modifications et/ou mise à jour de l'application internet;</p>
<br>
<p>La Direction Départementale des territoires du Rhône et la préfecture ne sauraient être tenus pour responsable pour toute inexactitude ou erreur dans les informations communiquées par l’application</p>

<h4><strong>4.2 FRAIS DE CONNEXION</strong></h4> 
<br>
<p>L'Utilisateur reconnaît et accepte que l'accès aux services nécessitant une connexion internet puisse générer des frais qui demeurent entièrement à sa charge, les droits et obligations découlant sa relation contractuelle avec son opérateur s'appliquant lors de l'utilisation de l'Application.</p>
<br>
<h3><strong>5- DISPONIBILITE</strong></h3>
<br>
<p>L'application est proposée sur l'internet. Les configurations de navigateur minimales permettant le fonctionnement du service sont :</p>
<ul>
	<li>Internet Explorer version 10 ou supérieure</li>
	<li>FireFox version 10 ou supérieure</li>
	<li>Chrome</li>
	<li>Microsoft Edge</li>
</ul>
<p>La Direction Départementale des territoires du Rhône et la préfecture feront tous les efforts raisonnables pour s'assurer que l'Application est disponible à tout moment. Néanmoins l'Utilisateur déclare être parfaitement informé que certaines fonctionnalités de l'Application sont fournies au moyen d'Internet et de réseaux mobiles et que la disponibilité desdits réseaux conditionne l'accès à ces fonctionnalités. Ainsi, La Direction Départementale des territoires du Rhône et la préfecture seront dégagés de toute responsabilité en cas d'indisponibilité du Service pour quelque raison que ce soit.</p>
<br>
<h3><strong>6- ENQUETE DE SATISFACTION</strong></h3>
<br>
<p>Soucieux de la satisfaction de ses utilisateurs, La Direction Départementale des territoires du Rhône et la préfecture, pourront proposer des enquêtes dans le but d’améliorer constamment l’utilisation et les services numériques de l’application C’conforme.</p>
<br>
<h3><strong>7- PROPRIETE INTELLECTUELLE</strong></h3>
<br>
<p>Les images, textes, programmes, marques, logos et autres composants de l'application C'Conforme sont protégés par des droits de propriété intellectuelle. Toute représentation totale ou partielle de l'application C'Conforme et de son contenu, par quelques procédés que ce soient, sans autorisation préalable et expresse de la Direction Départementale des territoires ou de la préfecture, est interdite et constitutive de contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle. </p>
<br>
<h3><strong>8- LOI APPLICABLE ET ATTRIBUTION DE JURIDICTION</strong></h3>
<br>
<p>Les présentes conditions générales sont soumises au droit français en cas de litige concernant leur formation, leur interprétation et leur exécution, les Parties conviennent de rechercher une solution amiable. En cas de non résolution du litige à l'amiable, les Parties soumettront ledit litige à l'appréciation des tribunaux français compétents. Lorsque l'Utilisateur est une personne morale, les Parties conviennent que tout litige relatif à la formation, l'interprétation, l'exécution des conditions générales est de la compétence exclusive du Tribunal de grande instance de Lyon (France).</p>
<br>
<h3><strong>B) CREDITS</strong></h3>
<p><strong>Maîtrise d'Ouvrage</strong> : Direction Départementale des Territoires du Rhône</p>
<p><strong>Maîtrise d'Oeuvre</strong> : Service Interministériel Départemental des Systèmes d'Information et de Communication du Rhône</p>
<p><strong>Développement web</strong> : Brahim SLITI, Paul-Edouard BOUDIER, Félix DRAGAUD, Yohan MARTIN</p>
<p><strong>Logo « Marianne au soleil levant »</strong> : jean Noël PONNELLE</p>
<p>Avec la participation du laboratoire d'innovations territoriales de l'Etat en région Auvergne-Rhône-Alpes ARCHIPEL </p>
</div>
{% endblock %}