@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Manuale');

body{
    text-align: center;
}

.btn:hover{
    cursor: pointer;
}

a:link{
    text-decoration: none;
}

#logo{
    width: 20vw;
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
}

#title{
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif;
}

#slogan{
    color: #e7e7e7;
    font-size: 1.1em;
    /*font-family: 'Inconsolata', monospace;*/
    font-family: 'Manuale', serif;
}

#search-address-wrap, #login-wrap{
    margin-top: 8vh;
}

#more_criteria{
    /*margin-bottom: 6vh;*/
    display: none;
}

#nom_erp_title{
    color: #2746c8;
}

.nom_erp_inmportant{
    font-style: italic;
    font-weight: bold;
}

#map-container{
    position: relative;
    display: none;
}

#google-map{
    height: 500px;
    width: 100%;
}

#signaler-btn{
    display: none;
    position: absolute;
    bottom: 2vh;
    left: 40vw;
    /*right: 50%;*/
    width: 20%;
}

.header{
    background-color: #1398e3;
    text-align: center;
    /*margin-bottom: 2%;*/
}

.header h1, .header h2{
    color: aliceblue;
}

.action-nav > a{
    color: #333634;
}

.action:hover{
    background-color: #2b2934;
}

.action> a{
    color: #1b9ec1 !important;
    border-radius: 5px;
}

.action> a:hover{
    cursor: pointer;
}

.dashboard-menu{
    background-color: #23212a;
    margin-bottom: 8vh;
}

.dashboard-menu> .action{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#dashboard-welcome{
    margin-top: 30vh;
}

#dashboard-welcome > h2{
    font-size: 4em;
    color: #ccc5c5;
    font-family: 'Raleway', sans-serif;
    opacity: 0.3;
}

.action-btn{
    margin-top: 2%;
}

.edit-buttons{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#chebox-wrapper-left, #chebox-wrapper-right{
    border: 2px solid;
    border-color: #1981e0;
    border-radius: 5px;
    /*background-color: #b4b4b4*/
}

#chebox-wrapper-left:hover, #chebox-wrapper-right:hover{
    border-color: #94cafc;
}

.form-check-label{
    text-align: left;
}

@media (min-width: 576px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 320px) and (max-width:359px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top: 5%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}

@media screen and (min-width: 360px) and (max-width: 567px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top: 5%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}


@media screen and (min-width: 568px) and (max-width: 767px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top: 5%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top:3%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top:3%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top:3%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1599px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top:3%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1919px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top: 3%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}

@media screen and (min-width: 1920px)
{
    #formulaire1{
        height: auto;
    }
    #footer1{
        margin-top:3%;
    }
    #map{
        border: solid 2px #1981e0 ;
    }
}

.ui-menu {
    list-style:none;
    padding: 10px;
    display:block;
    width:227px;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    padding: 0;
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    backg!important;
}
.ui-widget-content{
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}

.ui-autocomplete {
    max-height: 420px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    position: unset;
}
ul.ui-autocomplete{
    text-align: center;
}

#map{
    height: 455px;
}
/* ********** /!\ CSS Formulaire Signalement /!\ ********* */

#voir1:hover{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #007BFF;
}

#voir1:hover a{
    color: #ffffff;
}

#modifier1:hover{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #EEA73F;
}

#modifier1:hover a{
    color: #ffffff;
}


.form-report {
  width: 80vw;
  margin: 0 auto;
}

.report-row {
  padding-top: 5px;
}
.left {
  text-align: left;
}
.btn-report {
  margin-top: 10px;
}
