{% extends "::base.html.twig" %}

{% block body %}
  <h1>Signalez une adresse</h1>
  <form class="" action="/report/insert" method="post">
    <label for="">Adresse actuelle</label>
    <input type="text" name="adresse_erp" value="">
    <label for="">Adresse Constatée</label>
    <input type="text" name="adresse_signalee" value="">
    <label for="">Votre email</label>
    <input type="text" name="email" value="">
    <label for="message">Adresse incorrecte</label>
    <input type="checkbox" name="message[]" value="Adresse incorrecte">
    <label for="message">Inaccessible</label>
    <input type="checkbox" name="message[]" value="Inaccessible">
    <input type="submit" name="submit" value="envoyer">
  </form>
{% endblock %}
